{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Dashboard</h2>
						<h5 class="text-white op-7 mb-2">CS540 Group 4 Project Page</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="page-inner mt--5">			

			<!--Database Build-->

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row card-tools-still-right">
								<h4 class="card-title">Database</h4>
								<div class="card-tools">
									<button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"><span class="fa fa-sync-alt"></span></button>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								{% for table in tables %}
            						{{ table|safe }}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--Flight Visualizer-->

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Database Visualization</h4>
							<p class="card-category">
							Interactive Visualization of the Flight Data</p>
						</div>
							<div class="card-body">
							<div class="col-md-12">
								<div class="mapcontainer">
									<iframe src="map.html" title="Live Flight Visualizer" div id="map-example" class="vmap"></iframe>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>


	

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script>

		//Makes the database pretty
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});
		});
	</script>

{% endblock javascripts %}
