{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div>
						<h2 class="text-white pb-2 fw-bold">Presentation</h2>
						<h5 class="text-white op-7 mb-2">Powerpoint for Group 4</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="page-inner mt--5">

			<div class="row">
				
					<div class="col">
						<div class="card">
							<div class="card-body">
								<div class="mapcontainer">
									<iframe src="https://myerauedu.sharepoint.com/sites/CS540DatabaseTeam/_layouts/15/Doc.aspx?sourcedoc={8b46568a-4864-47a1-8e9b-accb8aeab6d8}&amp;action=embedview&amp;wdAr=1.7777777777777777" width="100%" height="800px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> presentation, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>
								</div>
							</div>
						</div>
					</div>

			</div>

		</div>

	</div>	

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
